* {
  font-family: Helvetica, sans-serif;
}

header {
    background-image: url("../images/pattern.jpeg");
}

header h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  width: 100%;
}

.section h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;

}

h2.brushes {
  background-color: mediumspringgreen;
}

h2.frames {
  background-color: lightcoral;
}

h2.paint {
  background-color: skyblue;
}

.price{
  color: blue;
  font-weight: bold;
}